In [1]:
import datetime
import requests
import json
import pandas as pd

In [2]:
end_date = datetime.datetime.now().strftime("%Y-%m-%d")
url = "https://fred.stlouisfed.org/graph/api/series/?obs=true&bgcolor=%23E1E9F0& \
chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_ \
bars=on&txtcolor=%23444444&ts=12&tts=12&width=1168&nt=0&thu=0&trc=0&show_legend=yes&show_a \
xis_titles=yes&show_tooltip=yes&id=PPIACO&scale=left&cosd=1913-01-01&coed="+end_date+"&line_c \
olor=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99 \
999&mma=0&fml=a&fq=Monthly&fam=avg&fgst=lin&fgsnd=2009-06-01&line_index=0& \
transformation=lin&vintage_date="+end_date+"&revision_date="+end_date+"&nd=1913-01-01"

In [3]:
response = requests.get(url)

In [4]:
observation_list = json.loads(response.text)["observations"][0]
date_list = []
value_list = []
for ob in observation_list:
    timestamp = int(str(ob[0])[:-3])
    if timestamp<0:
        date = (datetime.datetime(1970, 1, 1) + datetime.timedelta(seconds=timestamp)).strftime('%Y-%m-%d')
    else:
        date = datetime.datetime.utcfromtimestamp(timestamp).strftime('%Y-%m-%d')
    date_list.append(date)
    value_list.append(ob[1])

In [5]:
df = pd.DataFrame(value_list, columns=["Value"], index = date_list)
df.index.name = 'Date'

In [6]:
df.head(20)

            Value
Date
1913-01-01   12.1
1913-02-01   12.0
1913-03-01   12.0
1913-04-01   12.0
1913-05-01   11.9
1913-06-01   11.9
1913-07-01   12.0
1913-08-01   12.0
1913-09-01   12.2
1913-10-01   12.2
1913-11-01   12.1
1913-12-01   11.9
1914-01-01   11.8
1914-02-01   11.8
1914-03-01   11.7
1914-04-01   11.7
1914-05-01   11.6
1914-06-01   11.6
1914-07-01   11.6
1914-08-01   12.0